// Main style

// Imports
@import 'responsive.less';

// Constants
@minH: 500px; // Minimum height of objects
@colorTitle: #047ebe;
@colorSubTitle: #52656e;

// Apply font family
.applyTypo(@family: 'Nixie One', @type: cursive) {
	font-family: @family, @type;
}

// Set padding for the left menu
.padding-menu(@space: 10px 0 20px) {
	padding: @space;
}

// Define the round for bubble
.bubbleRound(@corner: 10px) {
	border-radius: @corner;
	-webkit-border-radius: @corner;
	-moz-border-radius: @corner;
	-o-border-radius: @corner;
}

// Define a shadow for the bubble
.bubbleShadow(@shadowSets: 0 1px 2px, @shadowColor: #727272) {
	box-shadow: @shadowSets @shadowColor;
	-webkit-box-shadow: @shadowSets @shadowColor;
	-moz-box-shadow: @shadowSets @shadowColor;
	-o-box-shadow: @shadowSets @shadowColor;
}

*, p {
	.applyTypo;
}

h3, h4 {
	color: @colorSubTitle;
}

body {
	width: 100%;
	background: url(../img/bg.png);
}

.limit {
	width: 960px;
	margin: 0 auto;
	padding: 0 30px 0;
}

.menu-pattern-1 {
	width: 250px;
}

.left-menu {
	float: left;
	clear: right;
}

.to-left {
	float: left;
}

.to-right {
	float: right;
}

.to-center {
	margin: 0 auto;
}

.inner-content {
	min-height: @minH;
}

.inner-right-content {
	maring: 0;
	padding: 0 5px 0;

	float: right;
	display: block;

	width: 650px;
	min-height: @minH;
}

.main-content {
	article {
		header {
			h2{
				text-align: center;
				padding: 25px 0 0;
				font-weight: 100;
				font-size: 22px;
				letter-spacing: 5px;
				text-shadow: 0 1px 0 #fff;
				color: @colorTitle;
			}
		}
	}

	footer.main-footer {
		text-align: center;

		p {
			color: #ddd;
			padding: 2px 0 0;
		}
	}
}

.inner-left-menu {
	float: left;
	display: block;
	min-height: 500px;
	max-height: 1000px;

	nav {
		header {
			h4 {
				text-align: center;
			}
		}
	}
}

.main-content article .inner-content ul {
	margin: 15px 0;
	padding: 0 0;
	border-top:1px solid #f2f2f2;

	li { 
		.padding-menu;
		list-style: none;
		border-bottom:1px solid #f2f2f2;

		div {
			display: block;
			padding: 10px 0 0;

			a {
				margin: -5px 0 0;
			}
		}
	}
}

.bubble {
	.bubbleRound;
	.bubbleShadow;
	background: #f5f5f5;
	padding: 20px 15px 12px;
	border: 1px solid #d5d5d5;
	text-align: center;

	p {
		color: #585858;
	}
}
